.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgba(255, 255, 255, 0.025);
  border-radius: 10px;
  padding: 3rem;
  color: #ffffff;
}

.boxTitle {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.signUp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75rem;
}

.signUp > * {
  min-width: 40ch;
  grid-column: span 4;
}

.signUp .two {
  min-width: 20ch;
  grid-column: span 2;
}

.signUp .one {
  min-width: 10ch;
  grid-column: span 1;
}

.input {
  color: inherit;
  padding: 0.5rem 0.75rem;
  border-radius: 0;
  background-color: transparent;
  border: none;
  border-bottom: solid #444444 2px;
  transition: border-color 300ms;
}

.input:focus {
  outline: none;
  border-bottom-color: #540099;
}

.belowFields {
  grid-column: span 4;
  display: flex;
  justify-content: space-between;
}

.belowFields span {
  font-size: 0.75rem;
  color: red;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border: solid 2px transparent;
}

.signUpButton {
  align-self: flex-end;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  background-color: transparent;
  border: solid #444444 2px;
  color: inherit;
  cursor: pointer;
  transition: border-color 300ms;
}

.signUpButton:hover {
  border-color: #540099;
}

.signUpButton:active {
  border-width: 3px;
  padding: calc(0.5rem - 1px) calc(0.75rem - 1px);
}

.aWrapper {
  display: grid;
  place-items: center;
}

.aWrapper a {
  color: inherit;
  text-decoration: none;
  text-align: center;
  margin-top: 1.5rem;

  background-image: linear-gradient(#540099, #540099);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 150ms ease-in-out;
}

.aWrapper a:hover {
  background-size: 100% 0.1em;
}

.input.error {
  border-color: red;
}
  