*, *::before, *::after {
  box-sizing: border-box;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: linear-gradient(90deg, #540099 -50%, #111111 50%, #094900 150%);
}

#root {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

input {
  color: inherit;
  padding: 0.5rem 0.75rem;
  border-radius: 0;
  background-color: transparent;
  border: none;
  border-bottom: solid #444444 2px;
  transition: border-color 300ms;
}

input:focus {
  outline: none;
  border-bottom-color: #540099;
}

input.error {
  border-color: red;
}

