.wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 13.25rem);
}

.searchForm, .reservationForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
}

.searchForm {
  margin-bottom: 1rem;
}

.reservationForm {
  align-items: center;
}

.searchForm > * {
  grid-column: span 2;
}

.searchForm .one {
  grid-column: span 1;
}

.inputGroup {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.inputGroup > input, .inputGroup > select, .reservationForm > input {
  flex: 1;
  color-scheme: dark;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}

.button {
  align-self: flex-end;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  background-color: transparent;
  border: solid #444444 2px;
  color: inherit;
  cursor: pointer;
  transition: border-color 300ms;
}

.button:hover {
  border-color: #540099;
}

.button:active {
  border-width: 3px;
  padding: calc(0.5rem - 1px) calc(0.75rem - 1px);
}

.results {
  display: grid;
  gap: 0.75rem;
}

.box {
  background-color: rgba(255, 255, 255, 0.025);
  border-radius: 10px;
  padding: 3rem;
  color: #ffffff;
}

.roomBox {
  padding: 1.5rem;
  border: none;
  cursor: pointer;
  transition: 300ms;
}

.roomBox:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.roomBox:active {
  background-color: rgba(255, 255, 255, 0.075);
}

.reserve {
  grid-column: span 2;
}